body{
    font-family: cursive;
} 
 .container{
     
    background-color: rgb(241, 231, 219);
    margin: 40px 50px  ;
    border-radius: 10px;
     box-shadow: 3px 3px 58px -6px rgba(0,0,0,0.53);
    -webkit-box-shadow: 3px 3px 58px -6px rgba(0,0,0,0.53);
    -moz-box-shadow: 3px 3px 58px -6px rgba(0,0,0,0.53); 

}
.tout{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.list{
    font-size:1.5rem ;
    line-height:3rem;
    margin-right: 40px;
} 
.img1{
    height: 3450px;
}
.close{
    text-align: center;
    padding: 20px;

}

a:hover{
    color: red;
}